@charset "utf-8";

.hidden {
	display: none;
}

body
{
	font-family: 'montserrat', open-sans, sans-serif;
	font-size: 24px;
}

#container
{
	max-width: 1200px;
	background-image: url(../images/waves.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: 0 auto;
}


#headLine
{
	background-color: #d2d8d275;
	height: 250px;
	color: #800080;
	text-align: center;
	padding-top: 20px;

}

#headLine h1
{
	font-size: 36px;
	padding: 5px;
}

#headLine h2
{
	font-size: 30px;
	padding: 5px;
}

#headLine p
{
	padding: 20px;
	margin-top: 40px;
}


#gameBoard
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/*height: 800px;*/
	margin-top: 50px;
}

.bodyiconsZone
{
	background-color: #71940050;
	width: 450px;
	display: grid;
	grid-template-columns: 50% 50%;

}

.bodyiconsZone h2
{
	font-size: 14px;
	margin: 0 auto;
}
.bodyiconsZone div
{
	margin-top: 50px;
	margin-left: 30px;

	border-radius: 20px;
}

.bodyIcon
{
	cursor: pointer;
	transition: all .3s ease-in-out;
	/*color: #d2d8d2;*/
}



.puzzleBody
{

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #3377a075;
	padding-bottom: 20px;
	/*height: 800px;*/
	/*width: 450px;*/

}

.puzzleBody img
{
    margin-top: 20px;

}

#footer
{
	background-color: #d2d8d275;
	height: 150px;
	padding-left: 1px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 50px;
}

#footer h2
{
	font-size: 1em;
	padding-top: 50px;
	padding-left: 60px;
	color: #999;
}

#footer p
{
	font-size: 0.5em;
	margin-left: auto;
	padding-top: 70px;
	padding-right: 60px;
	color: #999;
}
