@charset "utf-8";

.hidden {
	display: none;
}

body
{
	font-family: 'montserrat', open-sans, sans-serif;
	font-size: 24px;
}

#container
{
	max-width: 1200px;
	background-image: url(../images/waves.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: 0 auto;
}


#headLine
{
	background-color: #d2d8d275;
	height: 250px;
	color: #800080;
	text-align: center;
	padding-top: 20px;

}

#headLine h1
{
	font-size: 36px;
	padding: 5px;
}

#headLine h2
{
	font-size: 30px;
	padding: 5px;
}

#headLine p
{
	padding: 20px;
	margin-top: 40px;
}

.intro
{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	text-align: center;
	line-height: 30px;
}

#gameBoard
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/*height: 800px;*/
	margin-top: 50px;
	margin-left: 40px;
}

.bodyiconsZone
{
	background-color: #71940050;
	width: 450px;
	display: grid;
	grid-template-columns: 50% 50%;

}

.bodyiconsZone h2
{
	font-size: 20px;
	margin: 0 auto;
	color: white;

}
.bodyiconsZone div
{
	margin-top: 50px;
	margin-left: 30px;

	border-radius: 20px;
}

.bodyIcon
{
	cursor: pointer;
	transition: all .3s ease-in-out;
	/*color: #d2d8d2;*/
}



.puzzleBody
{

	position: relative;
	background: url(../images/female_body_design_2.svg) center no-repeat;
	padding-bottom: 20px;
	width: 450px;
	height: 800px;
	display: flex;
	flex-direction: column;
}



.drop-zone {
	
	border: thin dashed black;
	margin-left: 120px;
	width:200px;
	height:400px;
	/*float: left;*/
	
}

.drop-zone img {

	width: 40% !important;
	bottom: 0;
	padding-left: 40px;
	margin:0;
 }

/*.humming img, .heart img { right: 0; }
.lungs img, .neuron img { top: 0; }
*/
#footer
{
	background-color: #d2d8d275;
	height: 150px;
	padding-left: 1px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 50px;
}

#footer h2
{
	font-size: 1em;
	padding-top: 50px;
	padding-left: 60px;
	color: #800080;
}

#footer p
{
	font-size: 0.5em;
	margin-left: auto;
	padding-top: 70px;
	padding-right: 60px;
	color: #800080;
}
